<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Login de Usuário</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <div class="wrapper">
    <div class="content" role="main">
      {{>cabecalho}}
      <h1>Efetuar Login</h1>
{{#if error}}
      <p class="error">
        {{error}}
      </p>
{{/if}}
      <!-- O usuário pode limpar a lista de votos se ele primeiramente determinar a ADMIN_KEY presente no .env-->
      <div class="poll-form">
      <form action="/" method="post">
        <label for="conta">Conta: </label><input type="text" id="conta" name="conta" required><br/>
        <label for="senha">Senha: </label><input type="password" id="senha" name="senha" required><br/>
        <button type="submit">Submeter</button>
      </form>
      </div><!--poll-form-->
      
      <h3>
        Senha `admin` para alterações | Senha `usuario` para consultas
      </h3>
    </div><!--content-->
  </div><!--wrapper-->
</body>

</html>
