 <footer class="footer">
    <div class="links"></div>
    <a href="/escalacao">Início</a>
    <span class="divider">|</span>
    <a href="/organizacao">Apuração</a>
    <span class="divider">|</span>
    <a href="/times">Admin</a>
    <span class="divider">|</span>
    <a href="/iniciarIncluirCampeonato">Incluir Campeonato</a>
    <span class="divider">|</span>
    <a href="/iniciarExcluirCampeonato">Excluir Campeonato</a>
</footer>