 <footer class="footer">
    <div class="links"></div>
    <a href="/escalacao">Novo Time</a>
    <span class="divider">|</span>
    <a href="/campeonatos">Ver Campeonatos</a>
    <span class="divider">|</span>
    <a href="/iniciarIncluirCampeonato">Incluir Campeonato</a>
    <span class="divider">|</span>
    <a href="/iniciarExcluirCampeonato">Excluir Campeonato</a>
</footer>